/* .part {
    border-radius: 5%;
    border: solid 1px lightgray;
    width: 100px;
    height: 100px;
} */

.flexColumn {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.flexRow {
    border-radius: 5%;
    border: solid 1px lightgray;
    width: 200px;
    height: 100px;
    display: flex;
    padding: 15px;
    align-items: center;
    flex-direction: row;
    margin: 10px;
  }